title: "José Miguel Aragón-Jurado"
email: josemiguel.aragon@uca.es
description: >- # this means to ignore newlines until "baseurl:"
  Academic CV and Portfolio of José Miguel Aragón-Jurado, Postdoctoral Researcher (FPU Fellow).
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://josemiguel-aragon.github.io" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: 
github_username: 

# Build settings
markdown: kramdown
# theme: minima

plugins:
  - jekyll-seo-tag
  - jekyll-sitemap

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
    values:
      layout: "default"

sass:
  sass_dir: assets/css
  style: compressed
